div h1{
     font-size: 4em;
     font-weight: 700;
 }
 
 .container{
    margin-bottom: 5em;
 }
 
 .all-button1:hover{
     box-shadow: 5px 5px 5px pink;
   
 }
 .all-card{
    border: 0 !important;
    border-radius: 10px !important;
 }
 .price{
     font-size: 2.5em;
     font-weight: 700;
    /* margin-right: 2.5em; */
     color: #FABE4C;
 }
.section-four-img{
    width: 5em;
}

    /* code for responsive */         
    @media screen and (max-width: 1180px)  {
    #search-bar{
        display: none  !important;
    }
}

@media screen and (max-width: 428px){

    .container-fluid img{
        width: 220px;
    }
 }
 @media screen and (max-width: 320px){
    /* .price{
        margin-right: 0em;
    } */
    .container-fluid img {
        flex-wrap: nowrap;
        width: 180px;
   
    }
 }
